#controlpad{
    position: absolute;
    width: 400px; /*width*/
    height: 400px; /*height*/
    left: 50%;
    top: 50%;
    margin-left: -200px; /*half the image width*/
    margin-top: -200px; /*half the image height*/
    display: none;
}

#controlpad .upicon{
    position:absolute; 
    height: 40%;
    top: -10%;
    left: 30%;
    margin: 0;
}
#controlpad .lefticon{
    position:absolute; 
    height: 40%;
    top: 25%;
    left: -5%;
    margin: 0;
}
#controlpad .righticon{
    position:absolute; 
    height: 40%;
    top:25%;
    left: 65%;
    margin: 0;
}
#controlpad .downicon{
    position:absolute; 
    height: 40%;
    top:60%;
    left:30%;
}

#greyscreen{
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    opacity: 0.15;
    display: none;
}

#cursor{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 9;
    /*cursor:none;*/
}

html, body{
  overflow: hidden;
  width:  100%;
  height: 100%;
  margin: 0px;
}