#controlpad{
    position: absolute;
    width: 400px; /*width*/
    height: 400px; /*height*/
    left: 50%;
    top: 50%;
    margin-left: -200px; /*half the image width*/
    margin-top: -200px; /*half the image height*/
    display: none;
}

#controlpad .upicon{
    position:absolute; 
    height: 40%;
    margin-top: 0%;
    margin-left: 25%;
}
#controlpad .lefticon{
    position:absolute; 
    height: 40%;
    margin-top: 30%;
    margin-left: -10%;
}
#controlpad .righticon{
    position:absolute; 
    height: 40%;
    margin-top:30%;
    margin-left: 60%;
}
#controlpad .downicon{
    position:absolute; 
    height: 40%;
    margin-top:60%;
    margin-left:25%;
}

#umsk{
    z-index: -1;
    opacity:0.8;
    /*top, right, buttom, left
    clip: rect(50px, 200px, 200px, 0px);*/
}

#rmsk{
    z-index: -1;
    opacity:0.8;
}

#lmsk{
    z-index: -1;
    opacity:0.8;
}

#dmsk{
    z-index: -1;
    opacity:0.8;
}
